@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    background-color: #141414;
}

.app h3{
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
    user-select: none;
}

.notes {
    padding: 0 15px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-icon {
    padding: 0 10px;
    font-size: 20px;
}